/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://api.fontshare.com/v2/css?f[]=telma@700&f[]=satoshi@300,301,400,401,500,501,700,701,900,901&display=swap');

@font-face {
  font-family: 'cabinet';
  src: url('/fuentes/CabinetGrotesk-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1e1e;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1e1e1e;
}
